.header{
    background-color: gray;
     padding: 40px 10px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    text-align: center;
    
}
.namebox{
    background-color:goldenrod;
    padding: 10px;
    justify-content: center;
    height: 50px;
    font-size:40px;
    display:inline-flex;
    border-radius: 5px;
       transform: translate(-50%,110%);
   
}
.d-grid{
    display: inline-block;
    background-color: white;
    height:10px;
    width: 100px;
}
.d-grid1{
    background-color: gray;
    height:10px;
    width: 700px;
    padding: 10px 405px;
}
.col{
    border-bottom: 2px solid gray;
}
.split {
  height: 100%;
  width: 50%;
   z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
 .container {
    display: flex;
      }
  
  #col-1 {
      flex: 1;
      border-right: 4px solid grey;
  }
  
  #col-2 {    
    flex: 1;
    margin: 5px;
  }
  .sliders {
    display: grid;
  }
  
  .sliders label {
    grid-column: 1;
      }
  
  .sliders input {
    grid-column: 2;
   accent-color:goldenrod;
  }
  .date{
    float: right;
  }
 body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 10px;
  overflow-x: hidden;
 }
 .circletag{
  width: 150px;
  height: 150px;
    border-radius: 50%;
  line-height: 100px;
  transform: translate(50%, 30%);
  position: relative;
   border:5px dotted;
  border-color: goldenrod;
 } 
.circletag img{
  width: 100%;
  height: 50%;
  position: relative;
  top: 100%;
  transform: translate(400%, -600%);
}
.fa-solid{
  width: 30px;
  height: 30px;
  transform: translate(10%, -10%); 
  background-color: gray;
  position: relative;
  border:5px dotted;
  display:flex;
  justify-content: center; 
}
.fa-xs{
  border-radius: 50%;  
  border-color: goldenrod;
   }